* {
    * {
        box-sizing: border-box;
        font-family: 'Marcellus', serif;
    }
}

body {
    margin: 0;
    overflow: hidden;
    background: #ecdfe1
}

.screen {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screen.active {
    display: flex;
}

.btn {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background: #ff6d50;
    color: white;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
}

.score {
    position: absolute;
    top: 20px;
    font-size: 22px;
}

.heart {
    position: absolute;
    top: -60px;
    width: 50px;
    cursor: pointer;
    animation: fall linear forwards;
}

.broken {
    pointer-events: none;
}

@keyframes fall {
    to {
        top: 110%;
    }
}

#win h1 {
    text-align: center;
}

#photos {
    position: relative;
}

#photos img {
    position: absolute;
    width: 65%;
    max-width: 280px;
    border-radius: 20px;
    animation: fade 0.8s forwards;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.broken {
    transform: scale(1.5) rotate(-12deg);
    opacity: 0.5;
}